$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";


@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1);border-color:#000 }
	30% { -webkit-transform: scale(1);border-color:#000 }
	40% { -webkit-transform: scale(1.08);border-color:#ff0 }
	50% { -webkit-transform: scale(1);border-color:#000 }
	60% { -webkit-transform: scale(1);border-color:#000 }
	70% { -webkit-transform: scale(1.05);border-color:#ff0 }
	80% { -webkit-transform: scale(1);border-color:#000 }
	100% { -webkit-transform: scale(1);border-color:#000 }
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 3000ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}