<div class="box-colored white">
	<h2><a href="/settings/direction"><span data-toggle="tooltip" title="Change language" class="flag flag-it-small right"></span></a>Progress</h2>
	<div class="sidebar-progress" style="">
		<header class="sidebar-progress-header hidden">
			<strong class="left">Level {{course.xr.level}}</strong>
			<span class="points">{{course.xr.score}}/300 XP</span>
		</header>
		<div class="sidebar-progress-main">
			<div class="language-progress-bar-small" data-toggle="tooltip" title="297/300 XP">
				<div class="bar" style="width: {{course.xr.progress}}%; max-width: 100%;"></div>
				<span class="level level-current">&nbsp;</span>
				<span class="level level-next">&nbsp;</span>
			</div>
		</div>
		<ul class="sidebar-stats">
			<li><span class="icon icon-xp-small"></span> <strong>{{course.xr.score}}</strong> XP</li>
			<li><span class="icon icon-words-small">w</span><strong><span id="word-count">{{course.xr.words||0}}</span></strong> Words</li>
		</ul>
	</div>

	<!-- 		
		<div class="strenghten-skills-container">
			<a href="/practice" class="btn btn-primary btn-block btn-strengthen-skills">
				<span class="strength"><span class="icon icon-practice-small-white"></span></span>
				<span class="skill-icon-strength skill-icon-strength-micro strength-5"></span>
				Test Yourself
			</a>
		</div>
	-->		
</div>