<div class="box-colored white" style="padding:16px;padding-top:40px;overflow:hidden;">

	<div ng-hide="lesson.xr.success" class="sidebar-progress-main">
		<div class="language-progress-bar-small">
			<div class="bar" style="width: {{lesson.xr.progress}}%; max-width: 100%;"></div>
			<span class="level level-current">&nbsp;</span>
			<span class="level level-next">&nbsp;</span>
		</div>
	</div>
	<div ng-show="lesson.xr.success" style="position:absolute;text-align:right;width:320px;margin-top:-30px;">
		<img style="width:100px;" src="images/stamp.png"/>
	</div>

	<div ng-bind-html="wiki.html"></div>

</div>