<main class="main-right">
	<section class="page-sidebar sidebar-left">
		<div class="inner">
			<div ng-include="'views/course.progress.html'"></div>
			<div ng-include="'views/course.classmates.html'"></div>
		</div>
	</section>
	<section class="page-main main-right" class="min-height:390px;" ng-include="'views/course.content.html'"></section>
	<footer class="footer-main" ng-include="'views/footer.html'"></footer>
</main>
