<div class="box-gray">

<!-- <div class="box-colored white">
 -->
	<div id="ranking" class="stream-leaderboard">
		<h2>Classmates</h2>
		<div id="points-ranking" class="board" style="position: relative;">
			<ul id="ranked-users" class="list-users list-leaderboard">

				<li ng-repeat="name in ['StudentMeister','Johnny Student','A Student','Student X','Ms Student']" class="list-leaderboard-item ">
					<!-- <span class="position">1</span> -->
					<a href="/users/x" class="avatar avatar-small">
						<img class="lazy" src="images/icon-profile.jpg" width="50" height="50" style="display: inline;">
						<span class="ring"></span>
					</a>
					<span class="points" data-user="24843306">30 XP</span>
					<span class="name"><a href="/amysticom" class="username">{{name}}</a>
					</span>
				</li>

			</ul>
		</div>
	</div>
</div>