<h1>{{course.name}}</h1>
<div class="list-lessons" style="width:100%;margin:0">
	<div class="list-lessons-row" style="width:100%">
		<div ng-repeat="lesson in course.children" class="postcard small {{lesson.xr.status}}" ui-sref="courses.view({courseId:lesson.id})" ng-click="setLesson(lesson)" >
			<div>
			<div ng-hide="lesson.xr.success" style="width:100%;height:100%;text-align:center;padding-top:70px;color:#555;font-size:70px;background-color:#333"></div>
				<img ng-show="lesson.xr.success" src="{{lesson.image}}" style="width:100%"/>
			</div>
			
			<h3>{{lesson.name}}</h3>
			<p>{{lesson.description}}</p>

		</div>
	</div>
</div>