<ul class="nav-footer">

<!-- 	<li><a href="/info" tabindex="100">About</a></li>
	<li><a href="/mobile" tabindex="100">Mobile</a></li>
	<li><a href="/terms" tabindex="100">Terms</a></li>
	<li><a href="http://gear.duolingo.com" tabindex="100" target="_blank">Gear</a></li>
	<li><a href="/help" tabindex="110">Help</a></li>
	<li><a href="/guidelines" tabindex="100">Guidelines</a></li>
	<li><a href="/jobs" tabindex="110">Jobs</a></li>
	<li><a href="http://blog.duolingo.com" tabindex="120">Blog</a></li>
	<li><a href="http://twitter.com/duolingo" tabindex="130"><span class="icon-twitter"></span>Twitter</a></li>
	<li><a href="http://facebook.com/duolingo" tabindex="140"><span class="icon-facebook"></span>Facebook</a></li>
 -->
</ul>