<div class="box-colored gold ">
	<div class="skill-done">
		<span class="skill-badge-big" style="margin-bottom: 55px;">
			<span style="background: none; margin-bottom: 25px;" class="skill-icon gold huge ">
				<span class="skill-icon-image skill-icon-1">
					
				</span>
			</span>
		</span>
		<header class="skill-done-headline bigger">Strength: 5/5</header>
		<button class="btn btn-white btn-outline practice">Strengthen Basics 1</button>
	</div>
</div>
