<h1>{{lesson.name}} <small>Subtitle</small></h1>

<div class="postcard" style="position:relative;width:100%;float:left;height:400px;">

	<div style="left:10px;right:10px;top:10px;bottom:10px;overflow:hidden;position:absolute;border:1px solid #eee;border-bottom-color:#ccc;background-color:#111;">
		<img src="{{lesson.image}}" style="width:100%;position:absolute;opacity:0.3"/>

		<div class="list-lessons" style="position:absolute;width:100%;height:100%;margin:0;padding:0">
			<div ng-repeat="activity in lesson.children" class="list-lesson-item past" style="width:33.333%;height:50%;">
				<div class="inner" ng-click="play(activity)" style="background-color:transparent;margin:10px;box-shadow:none;padding:20px;height:90%;">

				</div>
			</div>
		</div>
	</div>

</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>Tasks</h2>

<table class="table">
	<tr ng-repeat="track in lesson.children">
	<td><input type="checkbox" style="background-color:rgba(255,255,255,0.1);border:1px solid #ddd;border-radius:50%;"/>{{track.name}}</td>
	</tr>
</table>