<main class="main-right">
	<section class="page-sidebar sidebar-left">
		<div class="inner">
			<div ng-include="'views/course.wiki.html'"></div>
		</div>
	</section>
	{{lesson.type}}
	<section class="page-main main-right" style="min-height:600px;" ng-include="'views/lesson.'+lesson.type+'.html'"></section>
	<footer class="footer-main" ng-include="'views/footer.html'"></footer>
</main>
