<section ng-show="complete" class="player-container slide-in {{task.xr.status}}">
	<div ng-include="'views/Player.SlideShow.summary.html'"></div>
</section>



<section ng-hide="complete" class="player-container {{active.xr.status}}" ng-class="{'slide-in':task.started}">

	<header class="player-header">
		<div id="progress-bar">
			<ul class="progress-bar-distinct left">
				<li ng-repeat="question in task.children" id="element-{{$index+1}}" ng-class="{'nothing':!question.xr.success,'done':question.xr.success}" ng-click="select($index)">
					<div class="inner"></div>
				</li>
			</ul>
		</div>
		<ul class="player-header-right" style="">
			<li><a class="player-quit" style="cursor:pointer;" id="quit-button">Quit</a></li>
			<li class="points"><span class="icon icon-xp-small"></span><span id="point-count">{{task.xr.score}}</span></li>
		</ul>
	</header>

	<div class="player-main transclude"></div>

	{{task.user}}
	{{task.result}}

	<footer class="player-footer">
		<div class="col-right" ng-show="active.xr.success==null">
			<button id="next_button" type="submit" class="btn btn-lg has-tooltip redesign-check" ng-show="active.xr.response==null" ng-click="next()">
				Skip
			</button>
			<button id="next_button" type="submit" class="btn btn-green btn-lg has-tooltip redesign-check" ng-hide="active.xr.response==null" ng-click="active.$submit()">
				Check
			</button>
		</div>
		<div class="col-right" ng-hide="active.xr.success==null">
			<button ng-hide="active.xr.success==null" id="next_button" type="submit" class="btn btn-green btn-lg has-tooltip redesign-next" ng-click="next()">
				Continue
			</button>
		</div>
		<div class="col-left" ng-hide="active.xr.status==null">
			<span class="badge-{{active.xr.status}}-big left bounce-in">
				<span class="icon icon-{{active.xr.status}}-big"></span>
			</span>
			<h1 >{{active.statusMessage}}&nbsp;</h1>
			<button id="discussion-toggle" class="btn btn-faded btn-small btn-outline clearfix">
				Discuss
			</button>
		</div>
	</footer>

</section>

