<span style="color:#999">{{xp.when}}</span>
<a href="">{{xp.user.name}}</a>
<span ng-if="!xp.result.success">unsuccessfully</span>
<b>{{xp.result.verb}}</b>
the <b>{{xp.activity.type}}</b>
"<b>{{xp.activity.name}}</b>"
<span ng-if="xp.attempts.length>1">after {{xp.attempts.length}} attempts</span>
| <b class="text-{{xp.result.status}}"><span ng-if="xp.result.score>0">+</span>{{xp.result.score}} points</b>