
<table class="table table-condensed" ng-show="task.xr.progress">
	<tr>
		<td style="border-top:none;padding:0" class="md-col-10">
			<div class="pull-right" lk-badge badge-type="progress" badge-xp="task.xp" style="width:45px"></div>
			<div style="padding-top:13px"><b>{{task.name}}</b></div>
		</td>
		<td style="border-top:none;padding:0" class="md-col-2 text-right">
			<div lk-badge badge-type="score" badge-xp="task.xp" class="pull-right" style="width:45px"></div>
		</td>
	</tr>
	<tr style="font-size:smaller" ng-repeat="child in task.children" ng-show="child.result.progress==100">
		<td class="col-md-10" lk-experience xp="child.xp"></td>
		<td class="col-md-2 text-right" style="padding-right:10px">{{child.result.score}}</td>
	</tr>
</table>
<table class="table table-condensed" ng-show="task.xr.progress==100">
	<tr style="font-size:smaller;font-weight:bold">
		<td style="border-top:none" class="col-md-10">Activity completion bonus</td>
		<td style="border-top:none" class="col-md-2 text-right">+100</td>
	</tr>
	<tr style="font-size:smaller;font-weight:bold">
		<td class="col-md-10">Activity punctuality penalty</td>
		<td class="col-md-2 text-right">-50</td>
	</tr>
	<div ng-show="task.xp.result.score">
		<td class="col-md-10"><b>Total</b></td>
		<td class="col-md-2 text-right"><b>{{task.result.score+50}}</b></td>
	</div>
</table>
