
<div id="end-carousel" class="carousel slide">
	<div class="carousel-inner session-end-slider">
		<div id="award-slide" class="item active">
			<div class="session-end-main ">
				<h1 class="session-end opacity-0 slide-in">
					Lesson complete!<span class="lighter">+{{task.xr.score}} XP</span>
				</h1>
				<div class="progress-xp-container">
					<div class="progress-xp">
						<div class="col-md-6">
							<img src="images/puzzle.png"/>
						</div>


						<div class="col-md-6">
							<table class="table table-condensed" ng-show="task.xr.progress">
								<tr>
									<td style="border-top:none;padding:0" class="md-col-10">
										<div class="pull-right" lk-badge badge-type="progress" badge-xp="task.xp" style="width:45px"></div>
										<div style="padding-top:13px"><b>{{task.name}}</b></div>
									</td>
									<td style="border-top:none;padding:0" class="md-col-2 text-right">
										<div lk-badge badge-type="score" badge-xp="task.xp" class="pull-right" style="width:45px"></div>
									</td>
								</tr>
								<tr style="font-size:smaller" ng-repeat="child in task.children" ng-show="child.xr.progress==100">
									<td class="col-md-10" lk-experience xp="child.xp"></td>
									<td class="col-md-2 text-right" style="padding-right:10px">{{child.xp.result.score}}</td>
								</tr>
							</table>
							<table class="table table-condensed" ng-show="task.xr.progress==100">
								<tr style="font-size:smaller;font-weight:bold">
									<td style="border-top:none" class="col-md-10">Activity completion bonus</td>
									<td style="border-top:none" class="col-md-2 text-right">+100</td>
								</tr>
								<tr style="font-size:smaller;font-weight:bold">
									<td class="col-md-10">Activity punctuality penalty</td>
									<td class="col-md-2 text-right">-50</td>
								</tr>
								<div ng-show="task.xp.result.score">
									<td class="col-md-10"><b>Total</b></td>
									<td class="col-md-2 text-right"><b>{{task.xr.score+50}}</b></td>
								</div>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="skill-slide" class="slider-pane-words item">
			<h1 class="session-end">You strengthened Common Phrases</h1>
			<ul class="strengthened-skills-big">
				<li>
					<span class="skill-badge-big boost-to-5" data-strength="1">
						<span style="" class="skill-icon unlocked big gold bounce">
							<span class="skill-icon-image skill-icon-48"></span>
						</span>
						<span class="skill-icon-strength skill-icon-strength-big strength-0"></span>
					</span>
				</li>
			</ul>
			<div class="strengthened-message opacity-0 slide-in">
				Keep those <strong>strength bars</strong> full as words fade from your memory.
			</div>
		</div>
		<div id="lingot-slide" class="item">
			<h1 class="session-end">You've earned 7 lingots!</h1>
			<div class="lingot-bill-container">
				<div class="lingot-bill-cell opacity-0 slide-in">
					<div class="lingot-bill">
						<ul class="lingot-bill-items">
							<li>
								Reached level 7<span class="amount">7</span>
							</li>
						</ul>
						<span class="icon icon-lingot-medium right bounce">7</span>
						<p class="store-link">
							Use lingots to get cool items from the <a href="/show_store" class="blue">Virtual store!</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="session-end-footer">
		<ol class="carousel-dots">
			<li data-target="#end-carousel" data-slide-to="0" class="carousel-dot active"></li>
			<li data-target="#end-carousel" data-slide-to="1" class="carousel-dot"></li>
			<li data-target="#end-carousel" data-slide-to="2" class="carousel-dot"></li>
		</ol>
		<div class="buttons">
<!-- 				<button data-r="skill" data-href="/skill/fr/Common-Phrases/practice" type="submit" class="margin-right end-continue btn btn-lg btn-blue left">
					Practice again
				</button>
			-->				<button type="submit" ui-sref="courses.view({courseId:task.parent_id})" class="continue btn btn-lg btn-green">
			Continue
		</button>
	</div>
</footer>
</div>
<script>
	//$('.carousel').carousel({pause:'false'});
</script>
