<div class="reading">
	
	<legend>
		<div class="pull-right">
			<div lk-badge badge-type="progress" badge-xp="task.xp()"></div>
		</div>
		<h3>{{task.name}} <small></small></h3>
	</legend>
	
	<div>
		<video id="v{{task.id}}" width="100%" controls>
			<source src="{{task.data.video}}"/>
			Your browser does not support the video tag.
		</video>
	</div>

	<div ng-repeat="img in gallery" class="col-md-{{thumbnailWidth}}" ng-class="{'pull-right':gallery.length==1}" style="margin-bottom:50px;">
		<div class="thumbnail">
			<a href="{{img.src}}" class="thumbnail">
				<img ng-src="{{img.src}}">
			</a>
			<div class="caption" style="font-size:smaller">
				<b ng-bind-html="img.title"></b>
				<span ng-bind-html="img.caption"></span>
			</div>
		</div>
	</div>

	<div class="description clearfix" style="clear:left" ng-bind-html="task.description">&nbsp;</div>

</div>