<div>

	<legend>
		<span class="pull-right">
			<div ng-if="task.xp.progress" lk-badge badge-type="score" badge-xp="task.xp"></div>
		</span>
		<h3>{{task.name}} <small>{{task.subtitle}}</small></h3>
	</legend>

	<p class="lead" ng-bind-html="task.description"></p>

	<form accept-charset="UTF-8" name="form" ng-submit="submit()" novalidate class="form form-horizontal">

		<textarea msd-elastic class="form-control" ng-minlength="50" required ng-readonly="task.xp.status=='success'" ng-model="task.xp.data.response" placeholder="Enter your answer here..."></textarea>

		<hr/>

		<div class="row">

			<div class="col-md-10">
				<div ng-show="task.xp.progress>10" style="font-size:smaller">
					<div lk-experience xp="task.xp"></div>
					<div ng-repeat="child in task.xp.children" lk-experience="child"></div>
				</div>
			</div>

			<div class="col-md-2">
				<button class="btn btn-warning pull-right" ng-disabled="form.$invalid" ng-class="{invisible:task.xp.status=='success'}" type="submit">
					Submit
				</button>
			</div>

		</div>

	</form>

	<hr/>

	<div ng-show="task.xp.status=='success'" class="animate-show-slide">
		<div lk-discussion="task.interactions"></div>
	</div>

</div>


