<div class="challenge-select" class="tranclude">
	<h1 class="player-title" ng-bind-html="task.description">&nbsp;</h1>
	<ul class="select-images select-images-list">
		<li ng-repeat="(key,option) in task.data.question.options" id="option-{{$index+1}}" ng-class="{'selected':key==task.xr.response.answer}">
			<label>
				<div class="select-images-frame" style="background-image: url('{{option.img}}')"></div>
				<input type="radio" class="player-radio" ng-model="task.xr.response.answer" name="{{form.name}}" value="{{key}}">
				<span class="title">{{option.text}}</span>
			</label>
		</li>
	</ul>
</div>
