<div>

	<legend>
		<span class="pull-right">
			<div ng-if="task.xp.progress" lk-badge badge-type="score" badge-xp="task.xp"></div>
		</span>
		<h3>{{task.name}} <small>{{task.subtitle}}</small></h3>
	</legend>

	<div>
		<h1 class="pull-left" style="margin:0">Q.</h1>
		<p class="lead" ng-bind-html="task.description"></p>
	</div>

	{{task.xp.data.evaluations}}

	<form accept-charset="UTF-8" name="form" ng-submit="submit()" novalidate class="form form-horizontal">

		<div ng-repeat="(itemName,itemText) in task.data.question.answers" class="input-group" style="margin-top:5px" ng-class="{'has-success':task.xp.data.evaluations[$index],'has-error':!task.xp.data.evaluations[$index]}">
			<span class="input-group-addon">{{$index+1}}</span>
			<input class="form-control" name="{{$index}}" ng-model="task.xr.response[$index]" type="text" required/>
		</div>

		<div ng-show="task.xp.status=='success'" class="animate-show-fade" style="margin-top:15px">
			<h1 class="pull-left" style="margin:0">A</h1>
			<p class="lead"><ul style="margin-left:15px"><li ng-repeat="r in task.xp.data.responses">{{r}}</li></ul></p>
		</div>

		<hr style="clear:both"/>

		<div class="row">

			<div class="col-md-10">
				<div ng-show="task.xp.progress>10" style="font-size:smaller">
					<div lk-experience xp="task.xp"></div>
					<div ng-repeat="child in task.xp.children" lk-experience="child"></div>
				</div>
			</div>

			<div class="col-md-2">
				<button class="btn btn-warning pull-right" ng-disabled="form.$invalid" ng-class="{disabled:form.$invalid,invisible:task.xp.status=='success'}" type="submit">Submit</button>
			</div>

		</div>

	</form>

	<hr/>

	<div ng-show="task.xp.status=='success'" class="animate-show-slide">
		<div lk-discussion="task.comments"></div>
	</div>

</div>