<div class="container">
<!-- 	<a href="/" class="topbar-brand track-click white">Duolingo</a>
 -->	<div id="global-loading-indicator" class="loading-indicator" style="display: none;">
		<div class="loader"></div>
	</div>
	<nav class="topbar-nav">
		<ul class="topbar-nav-main">
			<li id="home-nav"><a ui-sref="courses" ng-click="setPage('course')">Home</a></li>
			<li id="discussion-nav"><a href="/discussion">Discussion</a></li>
			<li id="stream-nav"><a href="/reports">Reports</a></li>
		</ul>
	</nav>

	<div class="topbar-right">

		<div class="dropdown topbar-username">
			<div data-toggle="dropdown" class="">
<!-- 				<a href="/users/x" class="avatar avatar-small">
					<img src="images/icon-profile.jpg">
					<span class="ring"></span>
				</a>
 -->				<span class="name">Johnny Student</span>
				<span class="icon icon-arrow-down-white"></span>
			</div>
			<ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="dLabel">
				<li><a href="/MonsieurKeith">Your Profile</a></li>
				<li><a href="/settings/account" class="track-click" id="header_userdrop_settings">Settings</a></li>
				<li><a id="show-shortcuts">Keyboard shortcuts</a></li>
				<li><a href="/logout" class="track-click" id="header_userdrop_logout" data-bypass="">Logout</a></li>
			</ul>
		</div>

		<ul class="topbar-stats">
			<li class="streak" data-toggle="tooltip" title="0 day streak" data-placement="bottom"><span class="icon icon-streak-small"></span>{{course.xr.score}}</li>
			<li class="lingots" data-toggle="tooltip" title="Lingots" data-placement="bottom"><a href="/show_store"><span class="icon icon-lingot-small"></span> 33</a></li>
		</ul>

	</div>
</div>